@charset "ISO-8859-1";

//                                   Drop Down CSS
/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}



/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

//********************************************************************************




